/* Existing styles for larger screens */
.img{
  left:-10px;
  top: -100px;
  width: 250px;
}
.button.button {
  left: 24.8936%;
  right: 0;
  top: 0;
  bottom: 0;
  align-self: flex-start;
}
.root {
  width: 1310px;
  height: min-content;
  place-content: space-between;
  align-items: center;
  z-index: 2;
  margin-top: -60px;
  margin-left: 50px;
}
.menu {
  width:800px;
  height: min-content;
  place-content: center;
  align-items: center;
  gap: 42px;
  left:100px;
  margin-top:15px;
}
.home,
.about,
.product,
.pages,
.contact {
  color: #083c2f;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.button2 {
  position: relative;
  width: 235px;
  height: 48px;
}
.logIn {
  color: #083c2f;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  position: absolute;
  margin-left: -20px;
  top: 22.9167%;
  bottom: 27.0833%;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}

/* Mobile-specific styles */
@media screen and (max-width: 700px) {
  .button.button {
    left:14.8936%;
    right: 0;
    top: 0;
    bottom: 0;
    align-self: flex-start;
  }
  .logo{
    left:-20px;
  }
  .root {
    width: 500px;
    height: min-content;
    place-content: space-between;
    align-items: center;
    z-index: 2;
    margin-top: -60px;
    margin-left: -20px;
  }
  .menu {
    display:none;
  }
  .logIn {
    color: #083c2f;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    position: absolute;
    left: 10%;
    right: 90.4255%;
    top: 22.9167%;
    bottom: 27.0833%;
    width: min-content;
    height: min-content;
    text-align: end;
    align-items: end;
    white-space: nowrap;
    flex-direction: column;
  }
  .button2 {
    position: relative;
    width: 235px;
    height: 48px;
    right: 50px;
  }
}
