.button.button {
  align-self: flex-start;
}
.bg {
  position: absolute;
  left: 100px;
  top: 4498px;
  width: 1296px;
  height: 346px;
  border-radius: 16px;
  background-color: #083c2f;
}
.text {
  position: absolute;
  left: 166px;
  top: 4573px;
  width: 1147px;
  height: min-content;
  place-content: space-between;
  align-items: center;
}
.title {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.letSAutomateSimplifyYourPerfor {
  color: #fff;
  font-size: 48px;
  line-height: 58px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -2px;
  width: 532px;
  height: min-content;
  flex-direction: column;
}
.letUsManageYourBusinessForYouS {
  color: #e0e5e4;
  font-size: 18px;
  line-height: 28px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.3px;
  width: 512px;
  height: min-content;
  flex-direction: column;
}
.button2 {
  width: min-content;
  height: min-content;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .button.button {
    align-self: flex-start;
  }
  .bg {
    position: absolute;
    left: 15px;
    top: 5358px;
    width: 400px;
    height: 400px;
    border-radius: 16px;
    background-color: #083c2f;
  }
  .text {
    position: absolute;
    left: 30px;
    top: 5373px;
    width: 400px;
    height: min-content;
    place-content: space-between;
    align-items: center;
  }
  .title {
    width: min-content;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .letSAutomateSimplifyYourPerfor {
    color: #fff;
    font-size: 38px;
    line-height: 58px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -2px;
    width: 350px;
    height: min-content;
    flex-direction: column;
  }
  .letUsManageYourBusinessForYouS {
    color: #e0e5e4;
    font-size: 18px;
    line-height: 28px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.3px;
    width: 350px;
    height: min-content;
    flex-direction: column;
  }
  .button2 {
    position : absolute;
    width: min-content;
    height: min-content;
    top:300px;
  }

}